

.product-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.product-card{
    width: 30%;
    margin: 4px;
}

.product-card img{
    width: 40%;

}